


.container {
  
    max-width: 100% ;
    max-height: 100vh;
    margin:5px;
    
}
.container .image{
    max-width: 100% ;
    max-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image img{
    width:150px;
    border:1px solid black;
    border-radius:50%;
    border-style: none;
   
}
.link{
    
    display: flex;
    justify-content: center;
    margin-top:15px;
    border:1px solid transparent;
   
   
}